* {
  margin: 0;
  padding: 0;
  display: block;
}
content
{ margin: auto;
  padding: 0;
  border: 0;

}
padding{ left: 50%;}



border
{

}
background-image
{ 

}
background-color
{ color: darkgreen;

}

h1 
{ color: blue;
  font-size: 50px;
  font-family:  Helvetica;
  text-align: center;
  
}
img
{ padding: 20%;
  border-image: space;

}

