*{
    margin: 0;
    padding: 0;
}
header, section, footer,  nav,  article, figure, figcaption, hgroup
{ 
    display: block;
    text-align: center;
}
 header, nav, footer,  article, section
{ 
    background-color: cornsilk;
    border: 1px solid tomato;
}
 h1
 {
     color: #183805;
     font-family: Arial, Helvetica, sans-serif;
 }
figcaption
{
font: italic 15px verdana sans-serif bold;
}
aside
{
display: block;
float: right;
}
#columna
{
 float: left;
 width: 220px;
 margin: auto;
 padding: auto;
}
#menu
{
   background: #b5b81d;
    padding: 5px 15px;
}
    .menu li
{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif; 
}
#seccion 
 {
    float: left;
    width: 660px;
    margin: 20px;
}
 #columna
{
 border-color: yellowgreen;
 width: 220px;
 margin: 20px 0px;
 padding: 20px;
 display: block;
} 
#agrupar
{ 
    width: 512 px;
    border: 1px solid gray;
    display: block;
    margin: auto;
    padding: 25px;
}